.wid-body{
    max-width: 550px;
    min-width: 550px;
}

.wid-master{
    max-width: 495px;
    min-width: 495px;
}

.wid-textbox{
    max-width: 465px;
    min-width: 465px;
}

.wid-200{
    max-width: 200px;
}

.wid-50{
    width: 50px;
}

.margin-center{
    margin: 0 auto;
}

/*マージン*/
.margin{
    margin: 5px;
}

/*パディング*/
.padding{
    padding: 10px;
}

.flex{
    display: flex;
}

.flex-reverse{
    flex-wrap: wrap-reverse;
}

.border-main{
    border: solid 1px #bbbbbb;
}

.text-big{
    font-size: 36px;
}

.text-center{
    text-align: center;
}

/*上を空ける*/
.margin-top{
    margin-top: 10px;
}