/* web_apri共用 */

.zoom-invalid{
    touch-action: none;
}

.wid-body{
    max-width: 550px;
    min-width: 550px;
}

.wid-master{
    max-width: 495px;
    min-width: 495px;
}

.wid-textbox{
    max-width: 465px;
    min-width: 465px;
}

.wid-300{
    max-width: 300px;
    min-width: 300px;
}

.wid-200{
    max-width: 200px;
    min-width: 200px;
}

.wid-50{
    width: 50px;
}

.margin-center{
    margin: 0 auto;
}

/*上を空ける*/
.margin-top{
    margin-top: 10px;
}

/*右を空ける*/
.margin-right{
    margin-right: 10px;
}

/*マージン*/
.margin{
    margin: 5px;
}

/*パディング*/
.padding{
    padding: 10px;
}

.flex{
    display: flex;
}

.flex-reverse{
    flex-wrap: wrap-reverse;
}

.border-main{
    border: solid 1px #bbbbbb;
}

.text-center{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.text-big-power{
    font-size: 72px;
}

.text-big-power-few{
    font-size: 55px;
}

.text-big{
    font-size: 36px;
}

.text-normal-power{
    font-size: 30px;
}

.text-normal{
    font-size: 20px;
}

.text-gray{
    color: #777777;
}

.text-red{
    color: #ff0000;
}


/*---- 連打ゲーム ----*/

.wid-body-mash{
    max-width: 550px;
    min-width: 550px;
}

.wid-body-ranking{
    max-width: 700px;
    min-width: 700px;
}

/*上を空ける*/
.margin-top-power{
    margin-top: 30px;
}

/*下を空ける*/
.margin-bottom{
    margin-bottom: 10px;
}

/*下を空ける強*/
.margin-bottom-power{
    margin-bottom: 50px;
}


/*---- キャラクター名生成機 ----*/

.wid-body-name-make{
    max-width: 900px;
    min-width: 900px;
}

.wid-name-make{
    max-width: 800px;
    min-width: 800px;
}

.wid-name-text-box{
    max-width: 770px;
    min-width: 770px;
}

.border-line-bottom{
    border-bottom: solid 1px #999999;
}